.today-orders__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.today-orders__card{
  height: 100%;
  border-radius: 2px;
  background-color: white;
  border: 1px solid #00000042;
}
.today-orders__card-outside {
  position: relative;
  width: 33%;
  min-height: 1px;
  padding: 0 15px 15px 15px;
}

.today-orders__container {
  flex: 1;
  margin-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  max-height: 540px;
  overflow: auto;
  margin-right: 3px;
}

.today-orders__container::-webkit-scrollbar {
  padding-left:10px;
  width: 10px;
}

.today-orders__container::-webkit-scrollbar-track {
  border-radius: 9px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.today-orders__container::-webkit-scrollbar-thumb {
  background-color: #008AFF;
  border-radius: 9px;
  outline: 1px solid slategrey;
}

.today-orders__container::-webkit-scrollbar-thumb:hover {
  background-color: #68a3f7;
}

.today-orders__card-item{
  display: flex;
  border-top: 1px solid #80808096;
  padding: 5px;
}

.today-orders__card-item-count{
  margin-left: auto;
}
.today-orders__text{
  font-size: 18px;
  font-weight: 300;
}

.today-orders__header{
  color: #008AFF;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  padding: 6px 0;
  background: #008aff3b;
}

.today-orders__empty{
  margin: auto;
  font-size: 21px;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
  color: #6E6E6E;
}
.today-orders_print-button {
  transition: .4s;
  height: 40px;
  max-width: 250px;
  width: 35%;
  background-color: #5aad3c;
  font-size: 16px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.today-orders_print-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  margin-bottom: 15px;
  position: absolute;
  width: 100%;
  margin-right: -15px;
  margin-left: -15px;
}

.print_orders {
  position: absolute;
  width: 100%;
  margin-top: 30px;
}
.print_orders .today-orders__container {
  overflow: unset;
}

.print_orders .today-orders__header {
  background: none;
}

.print_orders .today-orders__row {
  margin: 0;
}

.print_orders .today-orders__card-outside {
  width: 33% !important;
}

@media print {

  @page {
    size: A4;
    margin: 1cm; }

  .today-orders__card-outside {
    page-break-inside: avoid;
    float: left;
  }
  .print_orders .today-orders__row {
    display: block;
  }

  .print_orders .today-orders__row:after {
    content: '';
    display: table;
    clear: both;
  }
}


@media screen and (max-width: 900px){
  .today-orders__card-outside {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width:  50%;
  }
}

@media screen and  (max-width: 576px){
  .today-orders__card-outside {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .today-orders__container {
    max-height: max-content;
    overflow: unset;
  }
}