<div class="manager-home-screen">
    <nav class="nav-bar">
        {{#each tab}}
        <div class=" nav-bar__link universal-hover-effect shadow">
            <span class="nav-bar__link-text">{{title}}</span>
            <i class="tab-icon material-icons">{{{icon}}}</i>
        </div>
        {{/each}}
    </nav>
    <div class="manager-content content shadow">
    </div>
</div>