    <div id="manager-home-screen">
        <nav class="nav-bar">
            <div class="nav-bar__link shadow  left-link">
                 <span class="nav-bar__link-text">Upload menu</span>
                <i class="menu-icon material-icons">&#xE561;</i>
            </div>
            <div class="nav-bar__link shadow">
                <span class="nav-bar__link-text">Today's orders</span>
                <i class="today-icon material-icons">&#xE8DF;</i>

            </div>
            <div class="nav-bar__link shadow">
                <span class="nav-bar__link-text">Replenish balance</span>
                <i class="balance-icon material-icons">&#xE926;</i>
            </div>
            <div class="nav-bar__link shadow right-link ">
                <span class="nav-bar__link-text ">Make an order</span>
                <i class="order-icon material-icons">&#xE8CC;</i>
            </div>
        </nav>
        <div class="content shadow">
        </div>
        <button class="print shadow">
            <i class="print-icon material-icons">print</i>
        </button>
    </div>