<div class="edit-card">
    <div class="header"></div>
    <div class="edit-card-content"></div>
    <div class="total-cost">
        <div class="edit-card-txt-T">{{i18n 'other.amount'}}</div>
        <div class="edit-card-txt-C"></div>
    </div>
    <div class="edit-card-footer">
      <button class="edit-card-cancel">{{i18n 'userPage.cancel'}}</button>
      <button class="edit-card-sub">{{i18n 'other.submit'}}</button>
    </div>
</div>
