<div class="card">
    <div class="header"></div>
    <div class="card-inside">
        <div class="card-content {{#if emptyMenu}} center-text {{/if}}">
            {{#unless active}}
                <div class="not-available-menu">Меню еще недоступно</div>
            {{/unless}}

            {{#if emptyMenu}}
                {{#if active}}
                <div class="not-chosen-menu">
                    <p>Меню не выбрано</p>
                    <img src="src/images/spottyDog.jpg" />
                </div>
                    {{/if}}
            {{/if}}
        </div>
        <div class="free-space"></div>
        {{#if active}}
            <div class="card-footer">
                {{#if sumPrice}}
                    <div class="order-price">Сумма заказа: {{orderPrice}} р</div>
                {{/if}}
                <button class="edit-button">{{button}}</button>
            </div>
        {{/if}}
    </div>
</div>
