<div class="card">
    <div class="header"></div>
    <div class="card-inside">
        <div class="card-content"></div>
        <div class="free-space"></div>
        {{#if active}}
            <div class="card-footer">
                <div class="order-price">Сумма заказа: {{orderPrice}} р</div>
                <button class="edit-button">Редактировать</button>
            </div>
        {{/if}}
    </div>
</div>
