<div class="make-order_print-button-container">
    <button class="make-order_print-button universal-hover-effect" >{{i18n 'other.print'}}</button>
    <button type="submit" class="make-order_submit-button universal-hover-effect" >{{i18n 'managerPage.makeAnOrder.send'}}</button>
</div>