<div class="snackbar__container">
    <div id="snackbar">
        <div class="snackbar__container_header">{{i18n 'other.error'}} <i class="material-icons">close</i></div>
        <p class="title">{{title}} </p>
        <button class="dismiss__button">
            {{i18n 'other.ok'}}
        </button>
    </div>
</div>
