<div class="snackbar__container">
    <div id="snackbar">
        <p class="title">{{title}}</p>
        <button class="dismiss__button">
		<i class="material-icons">close</i>
	</button>
    </div>
</div>
