<div class="make-order__table-footer">
    <span class="make-order__footer-price">Сумма</span><span class="make-order__footer-price">    {{totalPrice}}
    <span
            class="make-order__footer-price"> BYN</span></span>
</div>