<div class="order-item">
    <div class="order-item-name">{{name}}</div>
    <div class="order-item-info">
        <div class="mass">{{mass}}</div>
        <div class="quantity">{{quantity}}</div>
        <div class="price">{{price}} BYN</div>
    </div>
</div>