.user-balance__header{
  min-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-balance__header-input{
  font-size: 18px;
  border-bottom: 1px solid #6E6E6E;
  text-align: center;
  padding: 8px 0;
}