<div id="login__screen">
    <form id="login__content">
        <h3 id="app-name">Exadel Food Delivery</h3>
        <h5 class="{{show}}" id="wrong-data">Неверная почта или пароль</h5>
        <input class="login__input" id="email" name="email" type="email" placeholder="Почта" value="{{email}}" required>
        <input class="login__input" id="password" name="password" type="password" placeholder="Пароль" value="{{password}}" required>
        <input class="login__button" type="submit" value="Войти">
    </form>
</div>