.login__screen {
    background: #FFFFFF no-repeat fixed;
    height: 100vh;
    width: 100vw;
}

.login__content {
    text-align: center;
    margin: 0 auto;
    padding: 170px 0;
    width: 350px;
}

.app-name {
    color: #000000;
    display: block;
    margin: auto;
    font-size: 38px;
    font-weight: lighter;
}

.wrong-data{
    color: #7a7a7a;
    margin: auto;
    font-size: 20px;
    font-weight: lighter;
}

.login__input {
    display: block;
    margin: 10px auto;
    width: 340px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    color: #000000;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    outline: none;
}
::placeholder{
    color: #000000;
}

.login__button {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    color: #000000;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    outline: none;
}
.login__button:hover{
    background-color: #000000;
    border: solid  #FFFFFF;
    color: #FFFFFF;
}

.visible{
    display: block;
}

.hidden{
    display: none;
}

@media screen and (max-width: 960px) {
    #login__content {
        padding: 120px 0;
    }
}

@media screen and (max-width: 768px) {
    #login__content {
        padding: 50px 0;
    }
}
