<div class="login__screen">
    <form class="login__content">
        <h3 class="app-name">Exadel Food Delivery</h3>
        <h5 class="{{show}} wrong-data">Wrong e-mail or password</h5>
        <input class="login__input" id="email" name="email" type="text" placeholder="e-mail" value="{{email}}" required>
        <input class="login__input" id="password" name="password" type="password" placeholder="password" value="{{password}}" required>
        <input class="login__button" type="submit" value="Log in">
    </form>
</div>