<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Exadel Food Delivery</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<main id="screen">
    <div class="make-order__header">
        Среда 11.04
    </div>

    <div class="table">
        <div class="make-order__table-header">
            <span class="make-order__dish-header-title">Наименование</span><span
                class="make-order__dish-amount">Количество</span>
        </div>
        <div class="make-order_order-item">
            <span class="make-order__dish-title">Суп</span>
            <span class="make-order__amount">20</span>

        </div>
        <div class="make-order_order-item">
            <span class="make-order__dish-title">Суп с капустой морковкой и еще слова слова слова длинное название</span>
            <span class="make-order__amount">20</span>

        </div>
        <div class="make-order__table-footer">
            <span class="make-order__footer-price">Сумма</span><span class="make-order__footer-price">5000</span>
        </div>
    </div>
    <div class="make-order_print-button-container">
        <button class="make-order_buttons">Print</button>
        <button class="make-order_buttons">Submit</button>
    </div>
</main>
</body>
</html>