.make-order__header {
    min-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.make-order__header-title {
    font-size: 21px;
    /*font-weight: 600;*/
    text-align: center;
    padding: 10px 0;
    color: #6E6E6E;
}