<div class="make-order__header">
    <div class="make-order__header-title">
        <p>{{empty}}</p>
        {{#if empty}}
                {{i18n 'managerPage.makeAnOrder.emptyList'}}
            {{else}}
                {{i18n 'managerPage.todaysOrder.tableHeader'}}
        {{/if}}
    </div>
</div>
