<div class="make-order__table-header">
  <span class="make-order__dish-header-title">Пользователь</span><span class="make-order__dish-amount">Баланс</span>
</div>
{{#each users}}
  <div class="user-balance__user-item">
      <span class="user-balance__user-name">{{firstName}} {{lastName}}</span>
      <div class="user-balance__balance-container">
          <span class="user-balance__balance">{{balance}}</span>
          <span class="user-balance__currency">P</span>
      </div>
      <input type='text' class="make-order__header" placeholder="сумма"></input>
      <div class="user-balance__submit-button">зачислить</div>
  </div>
{{/each}}
{{#unless users}}
<span class="user-balance__empty-list">Такого пользователя нет, или он ещё не авторизировался</span>
{{/unless}}