<div>
  <div class="user-balance__table-header">
    <span class="user-balance__user-name-title">Пользователь</span>
    <span class="user-balance__balance-title">Баланс</span>
  </div>
  {{#each result}}
  <div class="user-balance__user-item">
    <span class="user-balance__user-name">{{firstName}} {{lastName}}</span>
    <div class="user-balance__balance-container">
      <span class="user-balance__balance">{{balance}}</span>
      <span class="user-balance__currency">P</span>
    </div>
    <input type='text' class="user-balance__balance-input" placeholder="сумма"></input>
    <div class="user-balance__submit-button">зачислить</div>
  </div>
  {{/each}} {{#unless result}}
  <span class="user-balance__empty-list">Такого пользователя нет, или он ещё не авторизировался</span>
  {{/unless}}
</div>