<header class="shadow">
    <div class="header-content">
        <div class="header-content__button-container">
            <div class="header-content__switch-language-container header-content__switch-language-container--new-order">
                <span class="header-content__switch-language-label" data-language='en'>EN</span>
                <span class="header-content__switch-language-delimiter">/</span>
                <span class="header-content__switch-language-label" data-language='ru'>RU</span>
            </div>
            {{#if isUserManager}}
            <div class="header-content__switch-mode-button">
                {{i18n 'header.switchToManagerPage'}}
            </div>
            {{/if}}            
        </div>
        <div class="header-content__title-container"><span class="header-content__title">Exadel Food Delivery</span></div>
        {{#if isUserManager}}
        <div class="header-content__tools-container">
        {{else}}
        <div class="header-content__tools-container">
        {{/if}}
            <div class="header-content__about-user">
                <span class="header-content__users-login">{{nickname}}</span>
                <span class="header-content__balance">{{balance}}
                <span class="header-content__currency">BYN</span></span>
            </div>
            <i class="exit-ico material-icons md-25">&#xE879;</i>
        </div>
    </div>
</header>