<div class="error__content">
    <div class="error-message">
        <div class='word404'>404</div>
        <div class='first-word'>THE PAGE</div>
        <div class='second-word'>WAS NOT FOUND</div>
        <button class='return__button'>BACK TO MAIN PAGE</button>
    </div>
</div>