<div id="admin-home-screen">
    <div class="wrapper">
        <nav class="nav-bar">
            <div class="nav-bar__link shadow  left-link">
                 <span class="nav-bar__link-text">Загрузить меню</span>
                <i class="menu-icon material-icons">&#xE561;</i>
            </div>
            <div class="nav-bar__link shadow">
                <span class="nav-bar__link-text">Заказы на сегодня</span>
                <i class="today-icon material-icons">&#xE8DF;</i>

            </div>
            <div class="nav-bar__link shadow">
                <span class="nav-bar__link-text">Пополнить баланс</span>
                <i class="balance-icon material-icons">&#xE926;</i>
            </div>
            <div class="nav-bar__link shadow right-link ">
                <span class="nav-bar__link-text ">Сделать заказ</span>
                <i class="order-icon material-icons">&#xE8CC;</i>
            </div>
        </nav>
        <div class="content shadow">
        </div>
        <button class="print shadow">
            <i class="print-icon material-icons">print</i>
        </button>
    </div>
</div>