<div id="admin-screen">
    <div class="wrapper">
        <nav class="nav-bar">
            <div class="nav-bar__link">Загрузить меню</div>
            <div class="nav-bar__link">Заказы на сегодня</div>
            <div class="nav-bar__link">Пополнить баланс</div>
            <div class="nav-bar__link">Сделать заказ</div>
        </nav>
        <div class="content">
        </div>
        <button class="print">
            <i class="material-icons md-50 white">print</i>
        </button>
    </div>
</div>