body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Tajawal', sans-serif;
    background-color: #eee;
}

#card-test {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
