*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0;
}

body{
  background-color: #EEEEEE;
  min-height: 100vh;
}

.shadow{
  box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.15);
}

.universal-hover-effect:hover{
  box-shadow: 0 10px 17px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22);  
}
