<div class="make-order__table-footer">
    <div class="user-balance__select-quantity-container">
        <span class="user-balance__select-quantity-title">Сотрудников на странице:</span>
        <input type="text" class="user-balance__selected-quantity" placeholder="{{selectedQuantity}}"></input>
    </div>
    <div class="user-balance__page-info-container">
        <span class="user-balance__showed-interval">{{showedInterval}}</span>
        <span class="user-balance__preposition">из</span>
        <span class="user-balance__total-quantity">{{totalQuantity}}</span>
    </div>
    <div class="user-balance__button-container">
        <i class="left-ico material-icons">&#xE314;</i>
        <i class="right-ico material-icons">&#xE315;</i>
    </div>
</div>