<div class="menu-table">
    <div class="menu-table__date">{{date}}</div>
    {{#if menu}}
    <div class="menu-content" id="menu-content"></div>
    {{else}}
    <div class="upload-menu">
        <div class="upload-menu__message">There is no menu loaded.</div>
        <input type="file" class="upload-menu__button">Choose file</input>
    </div>
    {{/if}}
</div>