*{
    font-family: 'Roboto', sans-serif;
}

.menu-table,.upload-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 20px;
}
.upload-menu{
   align-items: center;
}
.send-menu{
    display: flex;
    margin: 20px;
    justify-content: space-between;
}
.week-tab{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #95989A;
}
.week-tab__pick-week{
    font-size: 18px;
    font-weight: 300;
    width: 200px;
    text-align: center;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
}
.picked-week{
    border-bottom: 1.8px solid #008AFF;
    font-size: 20px;
}
.menu-table__date{
    align-self: center;
    margin: 10px;
    font-size: 20px;
    font-weight: 300;
}
.menu-table-content, .menu-table-component__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.menu-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
}
.menu-item__day{
    color: #008AFF;
    font-size: 20px;
    border-bottom: 0.6px solid #95989A;
}
.menu-item__dish{
    display: flex;
    justify-content:  space-between;
    border-bottom: 0.6px solid #95989A;
    padding: 5px;
    font-size: 8px;
    color: #000000d1;
}
.dish-name{
    margin-left: 10px;
    flex: 1;
}
.dish-name,.dish-weight,.dish-price{
    font-size: 18px;
    color: #000000d1;
    font-weight: 300;
}
.dish-props{
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.upload-menu__message,.upload-menu__button,.menu-item__no-menu-msg,.menu-table__error,.fake-button,.file-msg,.publish-button{
    font-size: 20px;
    font-weight: 300;
}
@media(max-width: 400px){
    .upload-menu__button,.fake-button,.file-msg{
        font-size: 14px;
    }
}
.choose-file{
   display: none;
}
.fake-input{
    background-color: white;
}
.fake-button{
    padding: 5px;
    background-color: rgba(0,0,0,0);
    color: #212121;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border: 1px solid #5aad3c;
}
.file-msg{
    margin: 10px;
}
.upload-menu__button{
    align-self: center;
}
.menu-item__no-menu-msg{
    font-size: 15px;
    margin: 20px;
    align-self: flex-start;
}
.publish-button,.upload-menu__button{
    background-color: #5aad3c;
    width: auto;
    padding: 8px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.15);
    align-self: center;
    cursor: pointer;
}
.publish-button{
    margin: 10px;
}

.menu-table__error{
    align-self: center;
    margin: 10px;
}