<div class="menu-table">
    <div class="menu-table__date">{{date}}</div>
    {{#if menu}}
    <div class="menu-content" id="menu-content"></div>
    {{else}}
    <div class="upload-menu">
        <div class="upload-menu__message">There is no menu loaded.</div>
        <form class="send-menu">
            <input name="fileInput" type="file" accept=".xlsx .xls" size="1e6" class="choose-file"></input>
            <button name="sendFile" type="submit" class="upload-menu__button">Send file</input>
        </form>
    </div>
    {{/if}}
</div>