<div class="week-tab">
  <button class="week-tab__current week-tab__pick-week ">
    {{i18n 'managerPage.uploadMenu.currentWeek'}}
  </button>
  <button class="week-tab__next week-tab__pick-week">
    {{i18n 'managerPage.uploadMenu.nextWeek'}}
  </button>
</div>