<div class="week-tab">
  <button id="week-tab__current" class="week-tab__pick-week picked-week">
    Current week
  </button>
  <button id="week-tab__next" class="week-tab__pick-week">
    Next week
  </button>
</div>