<div class="upload-menu">
  <div class="upload-menu__message"></div>
  <form class="send-menu">
    <label for="file-input">
      <div class="fake-input">
        <span class="fake-button">{{i18n 'managerPage.uploadMenu.selectMenu'}}</span>
        <span class="file-msg">{{i18n 'managerPage.uploadMenu.noFileSelected'}}</span>
        <button type="submit" class="upload-menu__button">{{i18n 'managerPage.uploadMenu.sendFile'}}</button>
      </div>
      <input id="file-input" type="file" accept=".xlsx, .xls" size="1e6" class="choose-file"></input>
    </label>

  </form>
</div>